@page
@model ChiroCareRazorPages.Pages.Customers.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    
}

<h1>Xoá người dùng</h1>

<h3>Xác nhận xoá thông tin người dùng?</h3>
<div>
    <h4>Thông tin người dùng</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Số điện thoại
            @* @Html.DisplayNameFor(model => model.User.PhoneNumber) *@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            Họ và Tên
            @* @Html.DisplayNameFor(model => model.User.FullName) *@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
        <dt class="col-sm-2">
            Ngày sinh
            @* @Html.DisplayNameFor(model => model.User.Dob) *@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Dob)
        </dd>
        <dt class="col-sm-2">
            Giới tính
            @* @Html.DisplayNameFor(model => model.User.Gender) *@
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.User.Gender == 1)
                {
                    <Text>Nam</Text>
                }

                if (Model.User.Gender == 0)
                {
                    <Text>Nữ</Text>
                }
            }
            @* @Html.DisplayFor(model => model.User.Gender) *@
        </dd>
        <dt class="col-sm-2">
            Vai trò
            @* @Html.DisplayNameFor(model => model.User.Role) *@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Role)
        </dd>
        <dt class="col-sm-2">
            Email
            @* @Html.DisplayNameFor(model => model.User.EmailAddress) *@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.EmailAddress)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="User.UserId" />
        <input type="submit" value="Xoá" class="btn btn-danger" /> |
        <a asp-page="./Index">Trờ về danh sách</a>
    </form>
</div>
