@page
@model ChiroCareRazorPages.Pages.Customers.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Thông Tin Khách Hàng</h1>

<div>
    <h4>Khách hàng</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Số điện thoại
            @* @Html.DisplayNameFor(model => model.User.PhoneNumber) *@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            Tên đầy đủ
            @* @Html.DisplayNameFor(model => model.User.FullName) *@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
        <dt class="col-sm-2">
            Ngày sinh
            @* @Html.DisplayNameFor(model => model.User.Dob) *@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Dob)
        </dd>
        <dt class="col-sm-2">
            Giới tính
            @* @Html.DisplayNameFor(model => model.User.Gender) *@
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.User.Gender == 1)
                {
                    <Text>Nam</Text>
                }
           
                if (Model.User.Gender == 0)
                {
                    <Text>Nữ</Text>
                }
            }
        </dd>
        <dt class="col-sm-2">
            Vai trò
            @* @Html.DisplayNameFor(model => model.User.Role) *@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Role)
        </dd>
         <dt class="col-sm-2">
                    Nghề nghiệp
                    @* @Html.DisplayNameFor(model => model.User.Dob) *@
                </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Job)
        </dd>
        <dt class="col-sm-2">
            Tiền sử bệnh
            @* @Html.DisplayNameFor(model => model.User.Dob) *@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.History)
        </dd>
        <dt class="col-sm-2">
            Email
            @* @Html.DisplayNameFor(model => model.User.EmailAddress) *@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.EmailAddress)
        </dd>
       
        <hr />
        <h4>Hoá đơn của @Model.User.FullName</h4>
        <p>
            <a asp-page="Invoices/Create">Tạo Hoá Đơn Mới</a>
        </p>
        @if (Model.User.UserInvoices != null && Model.User.UserInvoices.Count > 0)
        {
            <div class="container">
                <table class="table" id="invoiceTable">
                    <thead>
                    <tr>
                        <th>Ngày xuất</th>
                        <th>Trạng thái</th>
                        <th>Chi tiết</th>
                        <th>Số lượng buổi</th>
                        <th>Thành tiền</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.User.UserInvoices)
                        {
                            <tr>
                                <td>@item.CreateDate</td>
                                <td>
                                  @item.InvoiceStatus
                                </td>
                                <td>@item.InvoiceDescription</td>
                                <td>@item.Quantity</td>
                                @{
                                    // Assuming @item.InvoiceTotal is a decimal value
                                    decimal invoiceTotal = @item.InvoiceTotal;
                                
                                    // Creating a CultureInfo object for Vietnamese culture
                                    System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("vi-VN");
                                
                                    // Formatting the invoiceTotal to VND
                                    string formattedTotal = invoiceTotal.ToString("C", culture);
                                }
                                
                                <td>@formattedTotal</td>
                                <td>
                                    <a asp-page="/Invoices/Details" asp-route-id="@item.InvoiceId">Chi tiết </a>
                                     @if (item.ListSessions.Count < item.Quantity || item.ListSessions.Count < 0)
                                    {
                                        <a asp-page="/Sessions/Create" asp-route-id="@item.InvoiceId">| Cập nhật buổi khám</a>
                                    }
                                    @if (item.ListSessions.Count == item.Quantity) 
                                    {
                                        <a> | Đã khám đủ buổi </a>                                                                      
                                    }
                                   
                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h3>Khách hàng chưa có hoá đơn!</h3>
        }
    </dl>
</div>
<hr/>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.User?.UserId">Chỉnh sửa</a> |
    <a asp-page="./Index">Trở về danh sách</a>
</div>

@section Scripts
{
    <script>
        $(document).ready(function() {
            $('#invoiceTable').DataTable({
                responsive: true
            });
        });
    </script>
}
