@page "/Home"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using BusinessObject.ChiroEnums
@model IndexModel
@{
    ViewData["Title"] = "Trang chủ";
}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        color: #333;
    }

    .card {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 20px;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #333;
    }

    .btn {
        border-radius: 5px;
        padding: 10px 20px;
    }

    .btn-primary {
        background-color: #007bff;
        border: none;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }

    table {
        border: solid black 1px;
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
         border: 1px solid #dee2e6;
                  padding: 8px;
    }

    th {
        background-color: #f2f2f2;
                  border: 1px solid #dee2e6;
                 
        
    }
     #sessionTable tbody tr:hover {
               background-color: #f5f5f5;
           }


    /* Dropdown Button */
    .dropbtn {
      background-color: #008080; /* Teal background color */
      color: #fff; /* White text color */
      padding: 12px 20px; /* Adjust padding */
      font-size: 16px;
      border: none;
      border-radius: 4px; /* Rounded corners */
      cursor: pointer;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #fff; /* White background color */
      min-width: 160px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
      z-index: 1;
      border-radius: 4px; /* Rounded corners */
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      color: #333; /* Dark text color */
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
      background-color: #f4f4f4; /* Light gray background color on hover */
    }
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
      background-color: #005555; /* Darker background color on hover */
    }

</style>


<div class="text-center">
    <h2 class="display-4">Chào mừng <strong>Chiro Care</strong> !</h2>
</div>
<div class="card">
    <div>
        <a class="btn btn-primary" asp-page="/Invoices/Create">Tạo hoá đơn mới</a>
        <a class="btn btn-primary" asp-page="/Customers/Create">Tạo hồ sơ bệnh án</a>
    </div>
</div>

<div class="card">
    <h3>Chọn ngày để xem lịch đặt trước:</h3>
    <form method="post">
        <div class="form-group">
            <div id="datepicker-group" class="input-group date" data-date-format="dd/mm/yyyy">
                <input asp-for="StartDate" type="date" class="form-control"/>
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
            </div>
        </div>
        <br/>
        <button class="btn btn-primary" type="submit">Xem</button>
    </form>

</div>

<div class="card">
    <h2>Danh sách buổi điều trị ngày: <strong style="color: #4169E1">@Model.StartDate.ToShortDateString()</strong> </h2>
    <div >
        <div class="table-responsive">
            <table class="table" id="sessionTable">
                <thead>
                <tr>
                    <th>Giờ hẹn khám</th>
                    <th>Liệu trình</th>
                    <th>SĐT Khách hàng</th>
                    <th>Khách hàng</th>
                    <th>Trạng thái</th>
                    <th>Chức năng</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Sessions)
                {
                    <tr>
                        <td style="color: #4169E1">
                            <strong>@Html.DisplayFor(modelItem => item.SessionAppointment.Value.TimeOfDay)</strong>
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.SessionTreatment)</td>
                        <td>
                            <strong>@Html.DisplayFor(modelItem => item.Patient.PhoneNumber)</strong>
                        </td>
                        <td>
                            
                            <div class="dropdown">
                                <button class="dropbtn">@Html.DisplayFor(modelItem => item.Patient.FullName)</button>
                                <div class="dropdown-content">
                                    <a asp-page="/Customers/Details" asp-route-id="@item.Invoice.PatientId">Thông tin khách hàng</a>
                                    <a asp-page="/Invoices/Details" asp-route-id="@item.Invoice.InvoiceId">Thông tin hoá đơn</a>
                                    <a asp-page="/Invoices/Create" asp-route-id="@item.Invoice.Patient.PhoneNumber">Tạo hoá đơn mới</a>
                                </div>
                            </div>
                            @* <a class="btn btn-link" asp-page="/Invoices/Details" asp-route-id="@item.Invoice.InvoiceId"></a> *@
                        </td>
                        <td>
                            @if (item.Status == SessionStatus.CHƯAĐIỀUTRỊ)
                            {
                                <strong style="color: firebrick">@Html.DisplayFor(modelItem => item.Status)</strong>
                            }
                            @if (item.Status == SessionStatus.ĐÃĐẶTLỊCH)
                            {
                                <strong style="color: #ff8f36">@Html.DisplayFor(modelItem => item.Status)</strong>
                            }
                            @if (item.Status == SessionStatus.ĐÃĐIỀUTRỊ)
                            {
                                <strong style="color: darkgreen">@Html.DisplayFor(modelItem => item.Status)</strong>
                            }
                        </td>
                        <td>
                            @* <a class="btn btn-primary" asp-page="/Sessions/EditSessionHomepage" asp-route-id="@item.SessionId">Cập nhật</a> *@
                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-@item.SessionId" data-id="@item.SessionId">Xoá</button>
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal-@item.SessionId" data-id="@item.SessionId">Cập nhật</button>

                        </td>
                    </tr>
                    <div class="container">
                        <!-- Modal -->
                        <div class="modal fade" id="updateModal-@item.SessionId" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Cập nhật thông tin buổi điều trị</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h4>Thông tin buổi điều trị</h4>
                                        <form method="post" asp-page-handler="Update">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input type="hidden" value="@item.SessionId" asp-for="Session.SessionId"/>
                                            <div class="form-group">
                                                <label asp-for="Session.TherapistId" class="control-label">Người điều trị</label>
                                                <select asp-for="Session.TherapistId" class="form-control" asp-items="ViewBag.TherapistId"></select>
                                                <span asp-validation-for="Session.TherapistId" class="text-danger"></span>
                                            </div>
                                            <div hidden="" class="form-group">
                                                <label asp-for="Session.TherapistId" class="control-label">Người điều trị</label>
                                                <input asp-for="Session.TherapistId" value="@item.TherapistId" class="form-control"></input>
                                                <span asp-validation-for="Session.TherapistId" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Session.PatientId" class="control-label">Khách hàng</label>
                                                <input readonly="" value="@item.Patient.FullName" class="form-control"></input>
                                                <span asp-validation-for="Session.PatientId" class="text-danger"></span>
                                            </div>

                                            <div hidden="" class="form-group">
                                                <label asp-for="Session.PatientId" class="control-label">Khách hàng</label>
                                                <input asp-for="Session.PatientId" value="@item.PatientId" class="form-control"></input>
                                                <span asp-validation-for="Session.PatientId" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Session.SessionTreatment" class="control-label">Liệu trình</label>
                                                <input asp-for="Session.SessionTreatment" value="@item.SessionTreatment" class="form-control"/>
                                                <span asp-validation-for="Session.SessionTreatment" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Session.SessionInfo" class="control-label">Chi tiết</label>
                                                <input asp-for="Session.SessionInfo" value="@item.SessionInfo" class="form-control"/>
                                                <span asp-validation-for="Session.SessionInfo" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Session.SessionAppointment" class="control-label">Ngày hẹn khám</label>
                                                <input type="datetime-local" value="@item.SessionAppointment.Value.ToString("yyyy-MM-ddTHH:mm")" asp-for="Session.SessionAppointment" class="form-control"/>
                                                <span asp-validation-for="Session.SessionAppointment" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Session.Status" class="control-label">Trạng thái</label>
                                                <select asp-for="Session.Status" class="form-control">
                                                    <option value="0" selected="@(item.Status == SessionStatus.ĐÃĐIỀUTRỊ ? "selected" : null)">ĐÃ ĐIỀU TRỊ</option>
                                                    <option value="1" selected="@(item.Status == SessionStatus.CHƯAĐIỀUTRỊ ? "selected" : null)">CHƯA ĐIỀU TRỊ</option>
                                                    <option value="2" selected="@(item.Status == SessionStatus.ĐÃĐẶTLỊCH ? "selected" : null)">ĐÃ ĐẶT LỊCH</option>
                                                </select>
                                                <span asp-validation-for="Session.Status" class="text-danger"></span>
                                            </div>
                                            <div hidden="" class="form-group">
                                                <label asp-for="Session.InvoiceId" class="control-label"></label>
                                                <input asp-for="Session.InvoiceId" value="@item.InvoiceId" class="form-control"></input>
                                                <span asp-validation-for="Session.InvoiceId" class="text-danger"></span>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Huỷ</button>
                                                <button type="submit" class="btn btn-primary">Cập nhật</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="container">
                        <!-- Modal -->
                        <div class="modal fade" id="deleteModal-@item.SessionId" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Xoá buổi điều trị</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h4>Thông tin buổi điều trị</h4>
                                        <form method="post" asp-page-handler="Delete">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input type="hidden" value="@item.SessionId" asp-for="Session.SessionId"/>
                                            <style>
                                           .session-details {
                                               display: flex;
                                               flex-wrap: wrap;
                                               padding: 10px;
                                               border: 1px solid #ccc;
                                               border-radius: 5px;
                                               margin-bottom: 10px;
                                           }
                                       
                                           .session-details dt {
                                               flex: 1 30%;
                                               font-weight: bold;
                                               margin-bottom: 5px;
                                           }
                                       
                                           .session-details dd {
                                               flex: 1 70%;
                                               margin-bottom: 5px;
                                           }
                                       </style>

                                            <div class="session-details">
                                                <dt>Bệnh nhân</dt>
                                                <dd><strong>@item.Patient.FullName</strong></dd>
                                                <dt>Liệu trình</dt>
                                                <dd>@item.SessionTreatment</dd>
                                                <dt>Chi tiết</dt>
                                                <dd>@item.SessionInfo</dd>
                                                <dt>Ngày khám</dt>
                                                <dd>@item.SessionDate</dd>
                                                <dt>Ngày hẹn khám</dt>
                                                <dd style="color: #4169E1" >@item.SessionAppointment</dd>
                                                <dt>Trạng thái</dt>
                                                <dd>
                                                    @if (item.Status == SessionStatus.CHƯAĐIỀUTRỊ)
                                                    {
                                                        <strong style="color: firebrick">@Html.DisplayFor(modelItem => item.Status)</strong>
                                                    }
                                                    @if (item.Status == SessionStatus.ĐÃĐẶTLỊCH)
                                                    {
                                                        <strong style="color: #ff8f36">@Html.DisplayFor(modelItem => item.Status)</strong>
                                                    }
                                                    @if (item.Status == SessionStatus.ĐÃĐIỀUTRỊ)
                                                    {
                                                        <strong style="color: darkgreen">@Html.DisplayFor(modelItem => item.Status)</strong>
                                                    }
                                                </dd>

                                            </div>

                                            <div hidden="" class="form-group">
                                                <label asp-for="Session.InvoiceId" class="control-label"></label>
                                                <input asp-for="Session.InvoiceId" value="@item.InvoiceId" class="form-control"></input>
                                                <span asp-validation-for="Session.InvoiceId" class="text-danger"></span>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                                                <button type="submit" class="btn btn-danger">Xoá</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                }
                </tbody>
            </table>

        </div>
    </div>


</div>

@section Scripts
{
    <script>
$(document).ready(function() {
                 
                 
            $('#sessionTable').DataTable({
                responsive: true
            });
            
        });
        
    
    </script>
}