@page
@model ChiroCareRazorPages.Pages.Invoices.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Xoá Hoá Đơn</h1>

<h3>Xác nhận xoá hoá đơn này ?</h3>
<div>
    <h4>Thông tin hoá đơn</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Thanh Toán
            @* @Html.DisplayNameFor(model => model.Invoice.InvoiceStatus) *@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.InvoiceStatus)
        </dd>
        <dt class="col-sm-2">
            Ngày tạo
            @* @Html.DisplayNameFor(model => model.Invoice.CreateDate) *@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.CreateDate)
        </dd>
        <dt class="col-sm-2">
            Chi tiết
            @* @Html.DisplayNameFor(model => model.Invoice.InvoiceDescription) *@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.InvoiceDescription)
        </dd>
        <dt class="col-sm-2">
            Thành tiền
            @* @Html.DisplayNameFor(model => model.Invoice.InvoiceTotal) *@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.InvoiceTotal)
        </dd>
        <dt class="col-sm-2">
            Khách hàng
            @* @Html.DisplayNameFor(model => model.Invoice.Patient) *@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.Patient.FullName)
        </dd>
        <dt class="col-sm-2">
            Dịch vụ sử dụng
            @* @Html.DisplayNameFor(model => model.Invoice.Patient) *@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.ListServices)
        </dd>
        
        
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Invoice.InvoiceId" />
        <input type="submit" value="Xoá" class="btn btn-danger" /> |
        <a asp-page="./Index">Trờ về danh sách</a>
    </form>
</div>
