@page
@model ChiroCareRazorPages.Pages.Invoices.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Chi Tiết Hoá Đơn</h1>

<div>
    <h4>Thông tin hoá đơn</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
                    Khách hàng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.Patient.FullName)
        </dd>
        
        <dt class="col-sm-2">
            Trạng thái hoá đơn
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.InvoiceStatus)
        </dt>
        <dt class="col-sm-2">
            Thanh toán
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.InvoiceMethod)
        </dt>
        <dt class="col-sm-2">
            Ngày xuất
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.CreateDate)
        </dd>
        <dt class="col-sm-2">
            Chi tiết
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.InvoiceDescription)
        </dd>
        <dt class="col-sm-2">
            Số lượng buổi 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.Quantity)
        </dd>
        <dt class="col-sm-2">
            Thành tiền
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.InvoiceTotal)
        </dt>
        <hr/>
        <h4>Dịch vụ sử dụng</h4>
        @if (Model.Invoice.InvoiceServices != null & @Model.Invoice.InvoiceServices.Count > 0)
        {
            <table>
                <thead>
                <tr>
                    <th>Tên dịch vụ</th>
                    <th>Giá tiền</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in @Model.Invoice.InvoiceServices)
                {
                    <tr>
        
                        <td>@item.Service.ServiceName</td>
                        @{
                            // Assuming @item.InvoiceTotal is a decimal value
                            decimal invoiceTotal = @item.Service.ServicePrice;
        
                            // Creating a CultureInfo object for Vietnamese culture
                            System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("vi-VN");
        
                            // Formatting the invoiceTotal to VND
                            string formattedTotal = invoiceTotal.ToString("C", culture);
                        }
        
                        <td>@formattedTotal</td>
        
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <h3>Hoá đơn không có dịch vụ!</h3>
        }
        <hr/>
        <h4>Theo dõi liệu trình</h4>
        @if (Model.Invoice.ListSessions.Count < Model.Invoice.Quantity)
        {
            <a asp-page="/Sessions/Create" asp-route-id="@Model.Invoice.InvoiceId">Cập nhật buổi khám</a>
        }@if (Model.Invoice.ListSessions.Count == Model.Invoice.Quantity)
         {
             <h3>Đã khám đủ số buổi!</h3>
         }
        @if (Model.Invoice.ListSessions != null || Model.Invoice.ListSessions.Count > 0)
        {
            <table id="sessionTable">
                <thead>
                <tr>
                    <th>Ngày khám</th>
                    <th>Liệu trình</th>
                    <th>Chi tiết</th>
                    <th>Người điều trị</th>
                    <th>Trạng thái</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in @Model.Invoice.ListSessions)
                {
                    <tr>

                        <td>@item.SessionDate</td>
                        <td>@item.SessionTreatment</td>
                        <td>@item.SessionInfo</td>
                        <td>@item.Therapist.FullName</td>
                        <th>@item.Status</th>

                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <h3>Chưa có buổi khám nào !</h3>
        }
        
        
    </dl>
</div>
<div>
    <a asp-page="./Index">Trở về danh sách</a>
</div>

@section Scripts
{
    <script>
        $(document).ready(function() {
            $('#sessionTable').DataTable({
                responsive: true
            });
        });
    </script>
}

