@page
@using BusinessObject.ChiroEnums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ChiroCareRazorPages.Pages.Invoices.DetailsModel

@{
    ViewData["Title"] = "Chi Tiết Hoá Đơn";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    
}

<style>
    h1 {
        color: #333;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .card {
        margin-bottom: 20px;
    }

  
           #sessionTable th {
               background-color: #f2f2f2;
               border: 1px solid #dee2e6;
           }
       
           #sessionTable th,
           #sessionTable td {
               border: 1px solid #dee2e6;
               padding: 8px;
           }
       
           #sessionTable tbody tr:hover {
               background-color: #f5f5f5;
           }
           
           
           #serviceTable th {
               background-color: #f2f2f2;
               border: 1px solid #dee2e6;
           }
       
           #serviceTable tbody tr:hover {
               background-color: #f5f5f5;
           }
           
           
            /* Dropdown Button */
               .dropbtn {
                 background-color: #008080; /* Teal background color */
                 color: #fff; /* White text color */
                 padding: 12px 20px; /* Adjust padding */
                 font-size: 16px;
                 border: none;
                 border-radius: 4px; /* Rounded corners */
                 cursor: pointer;
               }
               
               /* The container <div> - needed to position the dropdown content */
               .dropdown {
                 position: relative;
                 display: inline-block;
               }
               
               /* Dropdown Content (Hidden by Default) */
               .dropdown-content {
                 display: none;
                 position: absolute;
                 background-color: #fff; /* White background color */
                 min-width: 160px;
                 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
                 z-index: 1;
                 border-radius: 4px; /* Rounded corners */
               }
               
               /* Links inside the dropdown */
               .dropdown-content a {
                 color: #333; /* Dark text color */
                 padding: 12px 16px;
                 text-decoration: none;
                 display: block;
               }
               
               /* Change color of dropdown links on hover */
               .dropdown-content a:hover {
                 background-color: #f4f4f4; /* Light gray background color on hover */
               }
               
               /* Show the dropdown menu on hover */
               .dropdown:hover .dropdown-content {
                 display: block;
               }
               
               /* Change the background color of the dropdown button when the dropdown content is shown */
               .dropdown:hover .dropbtn {
                 background-color: #005555; /* Darker background color on hover */
               }
</style>

<h1>Chi Tiết Hoá Đơn</h1>
<div class="mt-3">
    <a class="btn btn-secondary" asp-page="/Customers/Details" asp-route-id="@Model.Invoice.PatientId" >Trở về thông tin khách hàng</a>
    <a class="btn btn-secondary" asp-page="./InvoicePrint" asp-route-id="@Model.Invoice.InvoiceId" target="_blank">In hoá đơn</a>
</div>
<br/>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin hoá đơn</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">Khách hàng:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Invoice.Patient.FullName)</dd>
            <dt class="col-sm-3">Trạng thái hoá đơn:</dt>
            <dt class="col-sm-9">
                @if (Model.Invoice.InvoiceStatus == InvoiceStatus.ĐÃTHANHTOÁN)
                {
                    <strong style="color: darkgreen">
                        @Model.Invoice.InvoiceStatus
                    </strong>
                }
                @if (Model.Invoice.InvoiceStatus == InvoiceStatus.CHƯATHANHTOÁN)
                {
                    <strong style="color: firebrick">
                        @Model.Invoice.InvoiceStatus
                    </strong>
                }
                @if (Model.Invoice.InvoiceStatus == InvoiceStatus.CÒNTHIẾU)
                {
                    <strong style="color: #ff8f36">
                        @Model.Invoice.InvoiceStatus
                    </strong>
                }
            </dt>
            <dt class="col-sm-3">Thanh toán:</dt>
            <dt class="col-sm-9">@Html.DisplayFor(model => model.Invoice.InvoiceMethod)</dt>
            <dt class="col-sm-3">Ngày xuất:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Invoice.CreateDate)</dd>
            <dt class="col-sm-3">Chi tiết:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Invoice.InvoiceDescription)</dd>
            <dt class="col-sm-3">Chẩn đoán:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Invoice.InvoiceDiagnose)</dd>
            <dt class="col-sm-3">Note:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Invoice.InvoiceNote)</dd>
            <dt class="col-sm-3">Số lượng buổi:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Invoice.Quantity)</dd>
            <dt class="col-sm-3">Số lượng buổi tặng thêm:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Invoice.BonusQuanity)</dd>
            <dt class="col-sm-3">Khuyến mãi:</dt>
            <dt class="col-sm-9">@Html.DisplayFor(model => model.Invoice.DiscountPercent)%</dt>
            <dt class="col-sm-3">Thành tiền:</dt>
            <dt class="col-sm-9">@Html.DisplayFor(model => model.Invoice.InvoiceTotal)</dt>
        </dl>
    </div>
    
    <td>
        <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateInvoiceModal-@Model.Invoice.InvoiceId" >Cập nhật thông tin hoá đơn</a>
    </td>
    <br/>
    
     <div class="modal fade" id="updateInvoiceModal-@Model.Invoice.InvoiceId" role="dialog">
                                <div class="modal-dialog">
    
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Cập nhật thông tin hoá đơn</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h4>Thông tin hoá đơn của @Model.Invoice.Patient.FullName</h4>
                                            <form method="post" asp-page-handler="UpdateInvoice" asp-route-id="@Model.Invoice.InvoiceId">
                                                   <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                   <input type="hidden" asp-for="Invoice.InvoiceId"/>
                                                   <div hidden="" class="form-group">
                                                       <label asp-for="Invoice.CreateDate" class="control-label"></label>
                                                       <input asp-for="Invoice.CreateDate" class="form-control"/>
                                                       <span asp-validation-for="Invoice.CreateDate" class="text-danger"></span>
                                                   </div>
                                                   <div hidden="" class="form-group">
                                                       <label asp-for="Invoice.PatientId" class="control-label"></label>
                                                       <select asp-for="Invoice.PatientId" class="form-control" asp-items="ViewBag.PatientId"></select>
                                                       <span asp-validation-for="Invoice.PatientId" class="text-danger"></span>
                                                   </div>
                                                   <div class="form-group">
                                                       <label asp-for="UpdateInvoice.InvoiceDescription" class="control-label">Chi tiết</label>
                                                       <input asp-for="UpdateInvoice.InvoiceDescription" value="@Model.Invoice.InvoiceDescription" class="form-control"/>
                                                       <span asp-validation-for="UpdateInvoice.InvoiceDescription" class="text-danger"></span>
                                                   </div>
                                                   <div hidden="" class="form-group">
                                                       <label asp-for="Invoice.Quantity" class="control-label"></label>
                                                       <input asp-for="Invoice.Quantity" class="form-control"/>
                                                       <span asp-validation-for="Invoice.Quantity" class="text-danger"></span>
                                                   </div>
                                                   <div class="form-group">
                                                       <label asp-for="UpdateInvoice.InvoiceDiagnose" class="control-label">Chẩn đoán</label>
                                                       <input asp-for="UpdateInvoice.InvoiceDiagnose" value="@Model.Invoice.InvoiceDiagnose" class="form-control"/>
                                                       <span asp-validation-for="UpdateInvoice.InvoiceDiagnose" class="text-danger"></span>
                                                   </div>
                                                   <div class="form-group">
                                                       <label asp-for="UpdateInvoice.InvoiceNote" class="control-label">Note</label>
                                                       <input asp-for="UpdateInvoice.InvoiceNote" value="@Model.Invoice.InvoiceNote" class="form-control"/>
                                                       <span asp-validation-for="Invoice.InvoiceNote" class="text-danger"></span>
                                                   </div>
                                                   <div hidden="" class="form-group">
                                                       <label asp-for="Invoice.InvoiceTotal" class="control-label"></label>
                                                       <input asp-for="Invoice.InvoiceTotal" class="form-control"/>
                                                       <span asp-validation-for="Invoice.InvoiceTotal" class="text-danger"></span>
                                                   </div>
                                                   <div class="form-group">
                                                       <label asp-for="UpdateInvoice.InvoiceMethod" class="control-label">Thanh Toán</label>
                                                       <select asp-for="UpdateInvoice.InvoiceMethod" class="form-control">
                                                           <option value="1">CHUYỂN KHOẢN</option>
                                                           <option value="0">TIỀN MẶT</option>
                                                       </select>
                                                       <span asp-validation-for="Invoice.InvoiceStatus" class="text-danger"></span>
                                                   </div>
                                                   <div class="form-group">
                                                       <label asp-for="UpdateInvoice.InvoiceStatus" class="control-label">Trạng thái</label>
                                                       <select asp-for="UpdateInvoice.InvoiceStatus" class="form-control">
                                                           <option value="0">ĐÃ THANH TOÁN</option>
                                                           <option value="1">CÒN THIẾU</option>
                                                           <option value="2">CHƯA THANH TOÁN</option>
                                                       </select>
                                                       <span asp-validation-for="UpdateInvoice.InvoiceStatus" class="text-danger"></span>
                                                   </div>
                                                   <div class="form-group">
                                                       <input  type="submit" value="Cập nhật" class="btn btn-primary"/>
                                                   </div>
                                               </form>
                                        </div>
    
                                    </div>
    
                                </div>
                            </div>
    
    
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Dịch vụ sử dụng</h4>
        @if (Model.Invoice.InvoiceServices != null && Model.Invoice.InvoiceServices.Count > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Tên dịch vụ</th>
                            <th>Giá tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Invoice.InvoiceServices)
                        {
                            <tr>
                                <td>@item.Service.ServiceName</td>
                                @{
                                    decimal invoiceTotal = item.Service.ServicePrice;
                                    System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("vi-VN");
                                    string formattedTotal = invoiceTotal.ToString("C", culture);
                                }
                                <td>@formattedTotal</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                Hoá đơn không có dịch vụ!
            </div>
        }
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Theo dõi liệu trình</h4>
        @if (Model.Invoice.ListSessions.Count < Model.Invoice.Quantity)
        {
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal-@Model.Invoice.InvoiceId" data-id="@Model.Invoice.InvoiceId">Thêm buổi điều trị mới</button>
        }
        @if (Model.Invoice.ListSessions.Count == Model.Invoice.Quantity)
        {
            <h3 style="color: darkgreen">Đã điều trị đủ số buổi!</h3>
        }
        @if (Model.Invoice.ListSessions != null && Model.Invoice.ListSessions.Count > 0)
        {
            <div class="table-responsive">
                <table  id="sessionTable">
                    <thead>
                    <tr>
                        <th>Ngày khám</th>
                        <th>Ngày hẹn khám</th>
                        <th>Liệu trình</th>
                        <th>Chi tiết</th>
                        <th>Người điều trị</th>
                        <th>Trạng thái</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.Invoice.ListSessions)
                    {
                        <tr>
                            <td>
                                <div class="dropdown">
                                    <button class="dropbtn">@Html.DisplayFor(modelItem => item.SessionDate)</button>
                                    <div class="dropdown-content">
                                        <a  data-bs-toggle="modal" data-bs-target="#deleteModal-@item.SessionId" data-id="@item.SessionId">Xoá</a>
                                        <a data-bs-toggle="modal" data-bs-target="#updateModal-@item.SessionId" data-id="@item.SessionId">Cập nhật</a>
                                    </div>
                                </div>
                            </td>
                            <td  style="color: #4169E1">@item.SessionAppointment</td>
                            <td>@item.SessionTreatment</td>
                            <td>@item.SessionInfo</td>
                            <td>@item.Therapist.FullName</td>
                            <td>
                                @if (item.Status == SessionStatus.CHƯAĐIỀUTRỊ)
                                {
                                    <strong style="color: firebrick">@Html.DisplayFor(modelItem => item.Status)</strong>
                                }
                                @if (item.Status == SessionStatus.ĐÃĐẶTLỊCH)
                                {
                                    <strong style="color: #ff8f36">@Html.DisplayFor(modelItem => item.Status)</strong>
                                }
                                @if (item.Status == SessionStatus.ĐÃĐIỀUTRỊ)
                                {
                                    <strong style="color: darkgreen">@Html.DisplayFor(modelItem => item.Status)</strong>
                                }
                            </td>
                        </tr>
                        
                        
                        
                        
                        <div class="modal fade" id="updateModal-@item.SessionId" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Cập nhật thông tin buổi điều trị</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h4>Thông tin buổi điều trị hôm nay</h4>
                                        <form method="post" asp-page-handler="Update">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input type="hidden" value="@item.SessionId" asp-for="Session.SessionId"/>
                                            <div class="form-group">
                                                <label asp-for="Session.TherapistId" class="control-label">Người điều trị</label>
                                                <select asp-for="Session.TherapistId" class="form-control" asp-items="ViewBag.TherapistId"></select>
                                                <span asp-validation-for="Session.TherapistId" class="text-danger"></span>
                                            </div>
                                            <div hidden="" class="form-group">
                                                <label asp-for="Session.TherapistId" class="control-label">Người điều trị</label>
                                                <input asp-for="Session.TherapistId" value="@item.TherapistId" class="form-control"></input>
                                                <span asp-validation-for="Session.TherapistId" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Session.PatientId" class="control-label">Khách hàng</label>
                                                <input readonly="" value="@item.Patient.FullName" class="form-control"></input>
                                                <span asp-validation-for="Session.PatientId" class="text-danger"></span>
                                            </div>

                                            <div hidden="" class="form-group">
                                                <label asp-for="Session.PatientId" class="control-label">Khách hàng</label>
                                                <input asp-for="Session.PatientId" value="@item.PatientId" class="form-control"></input>
                                                <span asp-validation-for="Session.PatientId" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Session.SessionTreatment" class="control-label">Liệu trình</label>
                                                <input asp-for="Session.SessionTreatment" value="@item.SessionTreatment" class="form-control"/>
                                                <span asp-validation-for="Session.SessionTreatment" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Session.SessionInfo" class="control-label">Chi tiết</label>
                                                <textarea  asp-for="Session.SessionInfo" value="@item.SessionInfo" class="form-control"></textarea>
                                                <span asp-validation-for="Session.SessionInfo" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Session.SessionAppointment" class="control-label">Giờ hẹn khám của buổi hôm nay</label>
                                                <input type="datetime-local" value="@((item.SessionAppointment.HasValue ? item.SessionAppointment.Value.ToString("yyyy-MM-ddTHH:mm") : string.Empty))" asp-for="Session.SessionAppointment" class="form-control"/>
                                                <span asp-validation-for="Session.SessionAppointment" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Session.Status" class="control-label">Trạng thái</label>
                                                <select asp-for="Session.Status" class="form-control">
                                                    <option value="0" selected="@(item.Status == SessionStatus.ĐÃĐIỀUTRỊ ? "selected" : null)">ĐÃ ĐIỀU TRỊ</option>
                                                    <option value="1" selected="@(item.Status == SessionStatus.CHƯAĐIỀUTRỊ ? "selected" : null)">CHƯA ĐIỀU TRỊ</option>
                                                    <option value="2" selected="@(item.Status == SessionStatus.ĐÃĐẶTLỊCH ? "selected" : null)">ĐÃ ĐẶT LỊCH</option>
                                                </select>
                                                <span asp-validation-for="Session.Status" class="text-danger"></span>
                                            </div>
                                            @if (item.Invoice.ListSessions.Count < item.Invoice.Quantity)
                                            {
                                                <hr/>
                                                <h4>Thông tin buổi điều trị tiếp theo</h4>
                                                <div class="form-group">
                                                    <label asp-for="Session.SessionAppointment" class="control-label">Đặt lịch hẹn điều trị tiếp theo</label>
                                                    <input type="datetime-local" asp-for="NextAppointmentDateTime" class="form-control"/>
                                                    <span asp-validation-for="Session.SessionAppointment" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Session.SessionTreatment" class="control-label">Liệu trình buổi điều trị tiếp theo</label>
                                                    <input value="@item.SessionTreatment" asp-for="NextAppointmentTreatment"  class="form-control"/>
                                                    <span asp-validation-for="Session.SessionTreatment" class="text-danger"></span>
                                                </div>
                                            }
                                           
                                            <div hidden="" class="form-group">
                                                <label asp-for="Session.InvoiceId" class="control-label"></label>
                                                <input asp-for="Session.InvoiceId" value="@item.InvoiceId" class="form-control"></input>
                                                <span asp-validation-for="Session.InvoiceId" class="text-danger"></span>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Huỷ</button>
                                                <button type="submit" class="btn btn-primary">Cập nhật</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>

                            </div>
                        </div>
                        
                        
                        <div class="modal fade" id="deleteModal-@item.SessionId" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Xoá buổi điều trị ngày [@item.SessionDate.ToShortDateString()]</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h4>Thông tin buổi điều trị</h4>
                                        <form method="post" asp-page-handler="Delete">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input type="hidden" value="@item.SessionId" asp-for="Session.SessionId"/>
                                            <style>
                                           .session-details {
                                               display: flex;
                                               flex-wrap: wrap;
                                               padding: 10px;
                                               border: 1px solid #ccc;
                                               border-radius: 5px;
                                               margin-bottom: 10px;
                                           }
                                       
                                           .session-details dt {
                                               flex: 1 30%;
                                               font-weight: bold;
                                               margin-bottom: 5px;
                                           }
                                       
                                           .session-details dd {
                                               flex: 1 70%;
                                               margin-bottom: 5px;
                                           }
                                       </style>

                                            <div class="session-details">
                                                <dt>Bệnh nhân</dt>
                                                <dd><strong>@item.Patient.FullName</strong></dd>
                                                <dt>Liệu trình</dt>
                                                <dd>@item.SessionTreatment</dd>
                                                <dt>Chi tiết</dt>
                                                <dd>@item.SessionInfo</dd>
                                                <dt>Ngày khám</dt>
                                                <dd>@item.SessionDate</dd>
                                                <dt>Ngày hẹn khám</dt>
                                                <dd style="color: #4169E1" >@item.SessionAppointment</dd>
                                                <dt>Trạng thái</dt>
                                                <dd>
                                                    @if (item.Status == SessionStatus.CHƯAĐIỀUTRỊ)
                                                    {
                                                        <strong style="color: firebrick">@Html.DisplayFor(modelItem => item.Status)</strong>
                                                    }
                                                    @if (item.Status == SessionStatus.ĐÃĐẶTLỊCH)
                                                    {
                                                        <strong style="color: #ff8f36">@Html.DisplayFor(modelItem => item.Status)</strong>
                                                    }
                                                    @if (item.Status == SessionStatus.ĐÃĐIỀUTRỊ)
                                                    {
                                                        <strong style="color: darkgreen">@Html.DisplayFor(modelItem => item.Status)</strong>
                                                    }
                                                </dd>

                                            </div>

                                            <div hidden="" class="form-group">
                                                <label asp-for="Session.InvoiceId" class="control-label"></label>
                                                <input asp-for="Session.InvoiceId" value="@item.InvoiceId" class="form-control"></input>
                                                <span asp-validation-for="Session.InvoiceId" class="text-danger"></span>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                                                <button type="submit" class="btn btn-danger">Xoá</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>

                            </div>
                        </div>
                        
                        
                         <div class="modal fade" id="createModal-@item.InvoiceId" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Thêm buổi điều trị cho hoá đơn [@Model.Invoice.InvoiceDescription] </h4>
                                            </div>
                                            <div class="modal-body">
                                                <h4>Thông tin buổi điều trị</h4>
                                                <form method="post" asp-page-handler="CreateSession" asp-route-id="@item.InvoiceId">
                                                  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                          <div class="form-group">
                                                              <label asp-for="Session.TherapistId" class="control-label">Người điều trị</label>
                                                              <select asp-for="Session.TherapistId" class="form-control" asp-items="ViewBag.TherapistId"></select>
                                                          </div>
                                                          <div class="form-group">
                                                              <label asp-for="Session.PatientId" class="control-label">Khách hàng</label>
                                                              <select asp-for="Session.PatientId" class="form-control" asp-items="ViewBag.PatientId"></select>
                                                          </div>
                                                          <div class="form-group">
                                                              <label asp-for="Session.SessionTreatment" class="control-label">Liệu trình</label>
                                                              <input asp-for="Session.SessionTreatment" class="form-control"/>
                                                              <span asp-validation-for="Session.SessionTreatment" class="text-danger"></span>
                                                          </div>
                                                          <div class="form-group">
                                                              <label asp-for="Session.SessionInfo" class="control-label">Chi tiết</label>
                                                              <textarea  asp-for="Session.SessionInfo" class="form-control"></textarea>
                                                              <span asp-validation-for="Session.SessionInfo" class="text-danger"></span>
                                                          </div>
                                                          <div class="form-group">
                                                              <label asp-for="Session.SessionAppointment" class="control-label">Hẹn ngày khám</label>
                                                              <input asp-for="Session.SessionAppointment" class="form-control"/>
                                                              <span asp-validation-for="Session.SessionAppointment" class="text-danger"></span>
                                                          </div>
                                                          <div class="form-group">
                                                              <label asp-for="Session.Status" class="control-label">Trạng thái</label>
                                                              <select asp-for="Session.Status" class="form-control">
                                                                  <option value="0">ĐÃ ĐIỀU TRỊ</option>
                                                                  <option value="1">CHƯA ĐIỀU TRỊ</option>
                                                                  <option value="2">ĐÃ ĐẶT LỊCH</option>
                                                              </select>
                                                              <span asp-validation-for="Session.Status" class="text-danger"></span>
                                                          </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Huỷ</button>
                                                        <button type="submit" class="btn btn-primary">Tạo</button>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                        
                    }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                Chưa có buổi điều trị nào!
            </div>
        }
    </div>
</div>





@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#sessionTable').DataTable({
                responsive: true
            });
            
           
        
        });
        
       
    </script>
}
