@page
@using BusinessObject.ChiroEnums
@model ChiroCareRazorPages.Pages.Invoices.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<style>
               .card {
                   margin-bottom: 20px;
               }
    h1 {
        color: #333;
        font-size: 24px;
        margin-bottom: 20px;
    }

    #invoiceTable th {
        background-color: #f2f2f2;
        border: 1px solid #dee2e6;
    }

    #invoiceTable th,
    #invoiceTable td {
        border: 1px solid #dee2e6;
        padding: 8px;
    }

    #invoiceTable tbody tr:hover {
        background-color: #f5f5f5;
    }
</style>

<h1>Danh sách hoá đơn</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Tạo hoá đơn mới</a>
</p>
<div class="card">
    <div class="table-responsive">
    <table class="table" id="invoiceTable">
                <thead>
                <tr>
                    <th>Tên khách hàng</th>
                    <th>Trạng thái</th>
                    <th>Ngày tạo</th>
                    <th>Chi tiết</th>
                    <th>Note</th>
                    <th>Số lượng buổi khám</th>
                    <th>Thành tiền</th>
                    <th>Chức năng</th>
                    <th>Cập nhật trạng thái</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Invoice)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Patient.FullName)</td>
                        <td >
                            @if (item.InvoiceStatus == InvoiceStatus.ĐÃTHANHTOÁN)
                            {
                                <strong style="color: darkgreen">
                                    @Html.DisplayFor(modelItem => item.InvoiceStatus)
                                </strong>
                            }
                            @if (item.InvoiceStatus == InvoiceStatus.CHƯATHANHTOÁN)
                            {
                                <strong style="color: firebrick">
                                    @Html.DisplayFor(modelItem => item.InvoiceStatus)
                                </strong>
                            }
                            @if (item.InvoiceStatus == InvoiceStatus.CÒNTHIẾU)
                            {
                                <strong style="color: #ff8f36">
                                    @Html.DisplayFor(modelItem => item.InvoiceStatus)
                                </strong>
                            }
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.InvoiceDescription)</td>
                        <td>@Html.DisplayFor(modelItem => item.InvoiceNote)</td>
                        <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
        
                        @{
                            // Assuming @item.InvoiceTotal is a decimal value
                            decimal invoiceTotal = @item.InvoiceTotal;
        
                            // Creating a CultureInfo object for Vietnamese culture
                            System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("vi-VN");
        
                            // Formatting the invoiceTotal to VND
                            string formattedTotal = invoiceTotal.ToString("C", culture);
                        }
        
                        <td><strong>@formattedTotal</strong> </td>
                        <td>
                            <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.InvoiceId">Chi tiết</a>
                            @if (item.ListSessions.Count == item.Quantity)
                            {
                                <strong style="color: darkgreen"> | Đã khám đủ số buổi!</strong>
                            }
                            @if (item.ListSessions.Count < item.Quantity)
                            {
                                <a class="btn btn-warning" asp-page="/Sessions/Create" asp-route-id="@item.InvoiceId">Cập nhật buổi khám</a>
                            }
                            @if (item.InvoiceStatus is InvoiceStatus.CÒNTHIẾU or InvoiceStatus.CHƯATHANHTOÁN)
                            {
        
                            }
        
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-page="/Invoices/Edit" asp-route-id="@item.InvoiceId">Cập nhật trạng thái</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
    </div>
</div>


@section Scripts
{
    <script>
        $(document).ready(function() {
            $('#invoiceTable').DataTable({
                responsive: true
            });
            
            
        });
    </script>
}
