@page
@model ChiroCareRazorPages.Pages.Sessions.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Chi tiết buổi khám</h1>

<div>
    <h4>Thông tin buổi khám</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.Session.Therapist) *@
            Người điều trị
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Session.Therapist.FullName)
        </dd>
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.Session.Patient) *@
            Khách hàng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Session.Patient.FullName)
        </dd>
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.Session.SessionTreatment) *@
            Liệu trình
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Session.SessionTreatment)
        </dd>
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.Session.SessionInfo) *@
            Chi tiết
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Session.SessionInfo)
        </dd>
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.Session.SessionDate) *@
            Ngày khám
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Session.SessionDate)
        </dd>
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.Session.SessionAppointment) *@
            Ngày hẹn khám
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Session.SessionAppointment)
        </dt>
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.Session.Status) *@
            Trạng thái
        </dt>
        <dt  class="col-sm-10">
            @Html.DisplayFor(model => model.Session.Status)
        </dt>
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.Session.Invoice) *@
            Hoá đơn
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Session.Invoice.InvoiceDescription)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Session.SessionId">Cập nhật</a> |
    <a class="btn btn-info" asp-page="./Index">Trở về danh sách buổi khám</a>
</div>
